.setup-popup-wrapper {
    margin-left: 11.9vw;
    margin-right: 11.9vw;
    margin-top: 38px;

    .setup-p-title {
        font-family: 'Open Sans';
        font-size: 20px;
        font-weight: bold;
        line-height: 2.35;
        color: $dark-indigo;
    }

    .setup-p-description {
        font-family: 'Open Sans';
        font-size: 14px;
        color: $dark-indigo;
        margin-bottom: 31px;
    }

    .setup-p-code{
        width: 100%;
        margin-top: 39px;
        margin-bottom: 27px;

        .setup-code{
            background-color: $dark-indigo-two;
            border-radius: 3px;
            font-size: 14px;
            color: $white;

            > pre {
                background: unset !important;
                text-shadow: unset !important;
                border: unset !important;
                box-shadow: unset !important;
                padding-bottom: 40px !important;
            }
            > code {
                margin-left: 41px;
                display: block;
                padding-bottom: 20px;
                color: #ccc;
                padding-top: 10px;
            }

            > button {
                float: right;
                margin-top: 8px;
                margin-right: 10px;
                border-radius: 3px;
                box-shadow: 0 0 4px 0 #06223c;
                background-color: $white;
                font-family: 'Open Sans';
                font-size: 12px;
                font-weight: bold;
                color: $dark-indigo-two;
                width: 47px;
                height: 25px;
                border: 0;
                text-align: center;
                padding-top: 1px;

                &:focus {
                    outline: 1;
                }

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    .setup-p-d-w {
        .setup-p-d-t {
            font-family: 'Open Sans';
            font-size: 20px;
            font-weight: bold;
            line-height: 2.35;
            color: $dark-indigo;
            margin-bottom: 5px;
        }

        .setup-p-d-d {
            font-family: 'Open Sans';
            font-size: 14px;
            color: $dark-indigo;
            margin-bottom: 27px;
        }
    }
}